@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;

}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);

}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
    background-color: #191b2a;
}


.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}


.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;

}

.header .navbar a:hover {
    color: orange;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: black;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: orange;
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

table {
    background-color: #191b2a;
}

table .tr .td {
    background-color: #d26a10;
}


.home .content {
    text-align: center;
    width: 50rem;
}

.home .content h3 {
    font-size: 3rem;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Inter', sans-serif;
    padding-top: 8%;
}

.home .content h3 span {
    color: var(--orange);
}


.parts {
    display: flex;
    justify-content: center;
    background-color: #191b2a;
}

.parts .content h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: 'Chivo Mono', monospace;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding-bottom: 7%;
    padding-top: 5%;
    font-weight: 550;
}

.features {
    background-color: #666;
}

.divlinks li{
    position: relative;
    display:inline-block;
    padding: 20px;
}
.divlinks li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.divlinks li::after {
    height: 2px;
    background: #e3a010;
    transition: 0.4s;
    width: 0%;
    display: block;
    margin: auto;
    content: '';
}

.divlinks li:hover::after {
    width: 100%;

}
.links li{
    position: relative;
    display:inline-block;
    padding: 20px;
}
.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.links li::after {
    height: 2px;
    background: #e3a010;
    transition: 0.4s;
    width: 0%;
    display: block;
    margin: auto;
    content: '';
}

.links li:hover::after {
    width: 100%;

}

section{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    display: block;
    background-color:#191b2a;
    padding-bottom: 0%;
    width: 100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0px;
    margin: auto;
    border-radius: 0%;
    position: relative;
}
h1{
    color:ivory;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 2%;
    font-size: 300%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.acc{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    border-radius: 5px;
    display: block;
    background-color:white;
    margin-top:2rem;
    margin-left:0rem;
    margin-right:0rem;
    padding-top:4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom:1rem;
    border-radius: 0%;
    position: relative;

}
.acc form{
font-size: 3rem;
}
.acc form h5{
    width:10%;
    height:10%;
}
.acc form .Name{
    display:inline-flex;
}
.acc form .Mail{
    display:inline-flex;
}
.acc form .Pass{
    display:inline-flex;
}
.acc form .Mail p{
    text-transform: lowercase;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover a {
    color: #ff7800;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-right: 0%;
    opacity: 250%;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding-right: 20%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(245, 164, 14);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: transparent;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ff7800;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropdown:hover a {
    color: #ff7800;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 173px;
    background-color: transparent;
}

div.gallery:hover {
    border: none;
    background-color: rgb(245, 164, 14);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
}

.products tr td {
    width: 300px;
    text-align: center;
    border: 1px solid rgb(205, 199, 199);
    padding: 3rem;
    font-weight: 450;

}

.products {
    margin: 0;
}

.products th {
    text-align: center;
    font-size: 18px;
}


.footer {
    background: #191b2a;
    margin-bottom:0rem;
    margin-top:0rem;
    padding:7rem;
}

.f1 {
    margin-top: 6rem;
}

.f1 p {
    font-size: 2rem;
    color: #fff;
}

.f1 img {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.f2 {
    margin-top: 0rem;
    padding-left: 20rem;
    padding-bottom: 0rem;
}

.f2 h1 {
    font-size: 5rem;
    color: #fff;
}

.f2 hr {
    background-color: #fff;
    height: 0.8px;
    width: 100%;
}

.f2 p {
    font-size: 2rem;
    color: #fff;
}

.f2 a {
    text-decoration: none;
    color: aqua;
}

.f2 a:hover {
    text-decoration: underline;
    color: aqua;
}

.login-status{
  
    color:#f6831e;
    padding-left: 25%;

}

.login-status a {
    color: #fff;
    font-size: 3rem;
}


.login-status a:hover {
    color: #f6831e;
}

.fa-user {
    color: #fff;
    font-size: 3rem;

}
.fa-user:hover {
    color: #f6831e;
}
.ucc{
    margin:2rem;
}
.ucc p{
    background-color: #fff;
    font-size: 2.5rem;
}
.about{
    margin:4rem;
}
.about h2{
    font-size: 3rem;
}
.about hr {
    background-color: black;
    height: 1px;
    width: 100%;
}
.about p{
    font-size: 2.5rem;
}
.browse{
    text-align: left;
    margin-left:5rem;
    margin-right:5rem;
    margin-top:5rem;
    margin-bottom:5rem;
}
.browse li a{
    font-size: 3rem;
    text-decoration: none;
    color: blue;
}
.browse li a:hover{
    text-decoration: underline;
    color: blue;
}
.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 11px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
.btn input{
    background-color:red;
    color:white;
    margin-top:1rem;
    margin-left:16rem;
    padding:5px;
    border:1px solid black;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}
.btn input:hover{
    background-color:rgb(168, 9, 9);
    
}