* {
    margin: 0px;
    border: 0px;
}

a {
    color: #2c87c3;
    border-radius: 5px;
    text-decoration: none;
}

.img{
    text-align: center;
    background-color: black;
    padding-bottom: 1%;
   
}
h1{
    color:ivory;
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 3%;
    margin-bottom: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

hr{
    background-color:ivory;
    height:0.8px;
    width:auto;
    margin-top: 0;
    margin-bottom: 2%;
}

section{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    display: block;
    background-color:#191b2a;
    padding-bottom: 0%;
    width: 100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0px;
    margin: auto;
    border-radius: 0%;
    position: relative;
}
.links li{
    position: relative;
    display:inline-block;
    padding: 20px;
}
.links li a{
    
    background-color:none;
    color:gray;
}
.links li a:hover{
    background-color:black;
    color:ivory;
}
