* {
    margin: 0px;
    border: 0px;
}

a {
    color: #2c87c3;
    border-radius: 5px;
    text-decoration: none;
    display
}
h1{
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 3%;
    margin-bottom: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
hr{
    background-color: black;
    height:0.8px;
    width:auto;
    margin-top: 0;
   margin-bottom: 2%;
}

section{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: block;
    background-color: whitesmoke;
    padding-bottom: 1%;
    width: 100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0px;
    margin: auto;
    position: relative;
}
.links li{
    position: relative;
    display:inline-block;
    padding: 20px
}
.links :hover {
    background-color: #191b2a;
}